.container{
  margin: 8px 16px;
}
.mes{
  color: #777;
  font-size: 16px;
  margin: 16px 0px;
}

.buy{
  margin: 18px 0px;
}

table{
  width: 100%;
}

.blossom{
  font-size: 25px;
  margin: 18px 0px;
}

#bought{
  font-size: 25px;
  color: #555;
}

.login_form {
  font-size: 20px;
  margin: 12px 0px;
  border-bottom:solid 1px #EEA34A;
}
